<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
    <nav th:replace="fragments/nav"></nav>
    <div class="container" id="main-container">
        <h2>Detalles de la nota</h2>
        <div class="card">
            <div class="card-header">Dni</div>
            <div class="card-body">
                <p class="card-text" th:text="${professor.dni}">Ejercicio 1</p>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">Nombre</div>
            <div class="card-body">
                <p class="card-text" th:text="${professor.name}">100</p>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">Apellidos</div>
            <div class="card-body">
                <p class="card-text" th:text="${professor.lastname}">100</p>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">Categoria</div>
            <div class="card-body">
                <p class="card-text" th:text="${professor.category}">100</p>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/footer"></footer>
</body>
</html>
