<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<head th:replace="fragments/head"/>
<body>
  <nav th:replace="fragments/nav"/>
  <div class="container" style="text-align: center">
    <h2 th:text="#{home.welcome}"></h2>
    <h3 th:text="#{home.subtitle}"></h3>
    <p>
      <span th:text="#{home.user}"></span>
      <b th:inline="text" sec:authentication="principal.username"></b>
    </p>
    <p th:text="#{home.marks.title}"></p>
    <div class="table-responsive">
      <table th:replace="fragments/markList"/>
    </div>
  </div>
  <footer th:replace="fragments/footer"/>
</body>
</html>