<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
  <nav th:replace="fragments/nav"/>
  <div class="container" style="text-align: center">
    <h2 th:text="#{home.welcome}"></h2>
    <h3 th:text="#{home.subtitle}"></h3>
    <p>
      <span th:text="#{home.user}"></span>
      <b th:inline="text"> [[${#httpServletRequest.remoteUser}]] </b>
    </p>
    <p th:text="#{home.marks.title}"></p>
    <div class="table-responsive">
      <table class="table table-hover" th:fragment="tableMarks" id="tableMarks">
        <thead>
        <tr>
          <th scope="col" th:text="#{home.marks.id}"></th>
          <th scope="col" th:text="#{home.marks.description}"></th>
          <th scope="col" th:text="#{home.marks.score}"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="mark : ${markList}">
          <td scope="row" th:text="${mark.id}"> 1</td>
          <td th:text="${mark.description}"> Ejercicio 1</td>
          <td th:text="${mark.score}">10</td>
          <td><a th:href="${'/mark/details/' + mark.id}" th:text="#{home.marks.details}"></a></td>
          <td><a th:href="${'/mark/edit/' + mark.id}" th:text="#{home.marks.edit}"></a></td>
          <td><a th:href="${'/mark/delete/' + mark.id}" th:text="#{home.marks.delete}"></a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <footer th:replace="fragments/footer"/>
</body>
</html>